<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Télécharger un Fichier CSV</title>
</head>
<body>
    <div class="container">
        <h1>Télécharger un Fichier CSV</h1>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Télécharger</button>
        </form>
        <a href="{{ url_for('index') }}" class="back-link">Retour à la liste des devises</a>
    </div>
</body>
</html>
